{% extends 'posts/layout.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} {{ block.super }} | {{ title }}{% endblock head_title %}

{% block content %}
<!--This is the login and register form-->

    <div class="container LogRegister">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="text-center">{{ title }}</h1>
            <p>
                {{ form|crispy }}
            </p>
            <input class="btn btn-primary btn-block" type="submit" value="{{ title }}" />
        </form>
    </div>

{% endblock %}
